@mixin basicActiveLink {
  button,
  a {
    transition: all var(--transitionTimeMs);
    &:hover {
      opacity: 0.75;
    }
  }
}

@mixin activeLink {
  @include basicActiveLink;
  button,
  a {
    &:hover {
      text-decoration: underline !important;
    }
  }
}

@mixin WithVisualColumn {
  .t195__imgsection {
    img {
      border-radius: 20px;
      border: 3px solid var(--themeRedColor);
      padding: 0;
    }
  }
  @media (width <= $mobileTreshold) {
    .t-container {
      display: flex;
      flex-direction: column;
    }
    .t-col {
      order: 2;
    }
    .t195__imgsection {
      order: 1;
    }
  }
}

@mixin SectionTitle {
  &:after {
    display: block;
    height: 4px;
    background-color: var(--primaryColor);
    content: '';
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@mixin BlockWithTitle {
  .t-title {
    @include SectionTitle;
    font-size: 40px;
  }
  // NOTE: It affects the bottom comment in form blocks.
  // .t-descr {
  //   font-size: 22px;
  // }
}

@mixin SocialLinksWrapper($color: var(--primaryColor)) {
  .t-sociallinks__wrapper {
    list-style: none;
    // padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    li {
      display: inline-block;
      a {
        display: inline-block;
        svg {
          path {
            fill: $color;
          }
        }
      }
    }
  }
}
