$primaryColor: #d10;
$themeRedColor: $primaryColor;

$grayMd2Color: #33383c;

// $darkTextColor: #411;
// $moodGrayColor: #344;

$socialIconSize: 32px;
$socialIconSmallSize: 22px;

// Delays

$transitionTimeMs: 250ms;
$animationTimeMs: 500ms;
$disappearTimeMs: 1000ms;

// NavHeader

$navbarHeight: 72px;
$topMenuHeight: 120px;

// $NavHeaderBorderColor: #000;
// $NavHeaderVMargin: 50px;
// $NavHeaderHeight: 60px;
// $NavHeaderTotalHeight: calc($NavHeaderVMargin * 2 + $NavHeaderHeight);

// Fonts

$defaultFont: 'Roboto', Arial, sans-serif;
$titleFont: 'Circe', Arial, sans-serif;
$defaultFontSize: 20px;

// Adaptive layouts...

$smallTreshold: 660px;
$mobileTreshold: 980px;
$wideTreshold: 1200px;

// Blocks

$blockNavHeader: '.t821';
$blockTopMenu: '.t456';
