@use '../variables' as *;

#allrecords .uc-News {
  @include BlockWithTitle;
  // @include activeLink;

  .t-feed__slider-grid__content {
    padding-left: 0;
    padding-right: 0;
  }

  .t-feed__container {
    @media (width <= $mobileTreshold) {
      // border: 0 solid transparent;
      // border-left-width: 20px;
      // border-right-width: 20px;
      // box-sizing: border-box;
    }
  }
  .t-feed__post-title {
    &:after {
      @include SectionTitleDelim($size: 2px, $width: 100%);
    }
  }

  .t-feed__post {
    a {
      &,
      .t-feed__textwrapper > * {
        transition: all $transitionTimeMs;
      }
      &:hover {
        opacity: 0.85;
        .t-feed__textwrapper > * {
          text-decoration: underline;
          color: $primaryColor;
        }
      }
    }
  }
}

#allrecords {
  // News page action buttons' storage
  .uc-NewsPageActions {
    display: none;
  }
  // News list page
  .js-feed-container.t-feed__container {
    // @include basicActiveLink;
    .t-feed__row-grid__post-wrapper {
      @include selfActiveLink;
      &:hover {
        .t-feed__post-title,
        .t-feed__post-descr {
          color: $primaryColor;
          text-decoration: underline;
        }
      }
    }
    .t-bgimg {
      border-radius: 10px;
    }
    .t-feed__post-title {
      font-size: 24px;
      text-transform: uppercase;
      color: #444;
    }
    .t-feed__post-descr {
      font-size: 18px;
    }
  }
  // Single news page
  .t-feed__post-popup__title {
    color: #444;
    text-transform: uppercase;
    &:after {
      @include SectionTitleDelim($size: 4px, $width: 200px);
      margin-left: 0;
    }
  }
  .t-feed__post-popup__container {
    @include activeLink;
    padding-top: 0;
    padding-bottom: 60px;
    .uc-PageBreadcrumbs {
      padding-bottom: 40px;
      .t-col {
        margin: 0;
      }
    }
    .Buttons.News {
      margin-top: 60px;
      .t-container_100 {
        &:before,
        &:after {
          display: none;
        }
      }
      .t142A__wrapone {
        justify-content: flex-start;
      }
      .t142A__wraptwo {
        padding: 0;
        display: flex;
        gap: 10px;
      }
      .t-btn {
        margin: 0;
      }
    }
  }
}
