@use '../variables' as *;

#allrecords .uc-PageBreadcrumbs {
  @include activeLink;
  padding: 40px 0 !important;
  a {
    color: $primaryColor;
  }
  .t758__list_item {
    font-size: 18px;
    @media (width <= $smallTreshold) {
      font-size: 4vw;
    }
  }
}

#allrecords .uc-PageTitleCenter,
#allrecords .uc-PageTitle {
  @include activeLink;
  @include BlockWithTitle;
  @media (width <= $smallTreshold) {
    .t-title {
      font-size: 6vw;
    }
    .t-descr {
      font-size: 4vw;
    }
  }
}
#allrecords .uc-PageTitle {
  .t-title,
  .t-descr {
    text-align: left;
  }
  .t-title {
    &:after {
      margin-left: 0;
    }
  }
}
#allrecords .uc-PageTitleCenter {
  .t-title,
  .t-descr {
    text-align: center;
  }
  .t-title {
    &:after {
      margin-left: auto;
    }
  }
}

#allrecords .uc-PageSubTitle {
  @include activeLink;
  @include BlockWithTitle;
}

#allrecords .uc-PageText {
  @include activeLink;
}

#allrecords .uc-PageItems {
  @include activeLink;
  ul {
    padding-left: 0;
    list-style: none;
    li {
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      margin: 0.5em 0;
      padding-left: 45px;
      background-image: url('../assets/Page/item.svg');
      background-repeat: no-repeat;
      background-position: 0px 2px;
    }
  }
}

#allrecords .uc-PageContacts {
  @include activeLink;
  a {
    color: #333;
    &:hover {
      color: $primaryColor;
    }
  }
}
