@use 'sass:color';

@use '../variables' as *;

#allrecords {
  // Those tho are just service containers, their content should be used only in product item cards
  .uc-ProductBadges,
  .uc-ProductActions {
    display: none;
  }
}

#allrecords .t-rec > .t-store {
  // padding-top: 0;
  padding-bottom: 60px;
}
#allrecords .js-store-product.js-product {
  @include basicActiveLink;
  // Title
  .js-store-prod-name {
    font-size: 40px;
    line-height: 1.2;
    color: $primaryColor !important;
    margin-bottom: 20px;
    &:after {
      @include SectionTitleDelim($size: 4px, $width: 200px, $left: true);
    }
  }
  // Product description
  .js-store-prod-all-text {
    font-size: 24px;
    line-height: 1.4;
  }
  // Product features
  .js-store-prod-all-charcs {
    font-size: 18px;
  }
  // Gallery arrows
  .t-slds__arrow {
    @include selfActiveLink;
  }
  // Gallery image
  .t-slds__bgimg {
    @media (width > $smallTreshold) {
      border-radius: 10px;
    }
  }
  // Tab controls
  .t-store__tabs__button {
    user-select: none;
    .t-name {
      font-size: 18px;
      text-transform: uppercase;
      font-family: $titleFont;
    }
    &.t-store__tabs__button_active {
      .t-name {
        color: $primaryColor !important;
        // border-bottom: 3px solid $primaryColor !important;
      }
    }
    &:hover {
      .t-name {
        color: $primaryColor !important;
      }
    }
  }
  // Tab contents
  .t-store__tabs__content {
    font-size: 18px;
    ul {
      padding-left: 0;
      list-style: none;
      li {
        margin: 0.5em 0;
        padding-left: 45px;
        background-image: url('../assets/Page/item.svg');
        background-repeat: no-repeat;
        background-position: 0px 2px;
      }
    }
  }
  // Moved tabs content adjustments
  .t-store__prod-popup__col-left,
  .t-store__prod-popup__col-right {
    .t-store__tabs__close {
      display: none;
    }
    .t-store__tabs__item-title {
      margin: 20px 0;
      padding-top: 20px;
      text-transform: uppercase;
      font-size: 24px;
      &:after {
        @include SectionTitleDelim($size: 3px, $width: 120px, $left: true);
      }
    }
    .t-store__tabs__content {
      a {
        color: $primaryColor;
        &:hover {
          text-decoration: underline;
        }
      }
      ul {
        // display: table;
        li {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          margin: 0;
          padding-left: 65px;
          min-height: 65px;
          background-image: url('../assets/Page/square-item.svg');
        }
      }
    }
  }
  .t-store__prod-popup__col-right {
    .t-container_100 {
      &:before,
      &:after {
        display: none;
      }
    }
    .t142A__wrapone {
      display: block;
      // justify-content: flex-start;
    }
    .t142A__wraptwo {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      > a.t-btn {
        margin: 0;
        .fa {
          display: inline-block;
          margin-right: 0.5em;
          opacity: 0.5;
          // text-decoration: none !important;
        }
        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }
    }
    .Buttons {
      margin: 20px 0;
      &.Badges {
        .t-btn {
          pointer-events: none;
          height: 40px;
        }
      }
    }
  }
  // Adjust variants block
  .js-product-controls-wrapper {
    .t-product__option-title {
      padding-top: 5px;
    }
    .t-product__option {
      display: flex;
      align-items: center;
      gap: 1em;
      min-height: 30px;
      select {
        text-align: right;
        padding-right: 10px;
      }
      .t-product__option-variants::after {
        top: 1em;
        display: none;
      }
      &:first-child {
        min-height: 50px;
        select {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-color: $primaryColor;
          color: #fff;
          overflow: hidden;
          padding-top: 8px;
          padding-bottom: 4px;
          border: none;
          outline: none;
          &:focus {
            padding: 10px;
            margin-top: -26px;
            border-radius: 10px;
            position: absolute;
            z-index: 99;
            box-shadow: 2px 2px 8px color.change(#000, $alpha: 0.4);
          }
          option {
            padding: 4px 10px;
            border-radius: 4px;
            &:hover {
              // background-color: color.adjust($primaryColor, $lightness: -10%);
              // box-shadow: 0 0 10px 100px color.adjust($primaryColor, $lightness: -10%) inset;
              box-shadow: 0 0 10px 100px color.adjust(#fff, $lightness: -10%) inset;
              color: #000;
            }
            &:checked {
              // background-color: color.adjust($primaryColor, $lightness: -20%, $alpha: 0.5);
              box-shadow: 0 0 10px 100px color.adjust($primaryColor, $lightness: -20%, $alpha: 0.5)
                inset;
            }
          }
        }
      }
      &:not(:first-child) {
        select {
          background: none;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          border: none;
          outline: none;
          overflow: hidden;
          text-overflow: ellipsis;
          pointer-events: none;
          // padding-right: 10px;
        }
        .t-product__option-variants::after {
          display: none;
        }
      }
    }
    .t-product__option-title {
      display: inline-block;
      &:after {
        display: inline-block;
        content: ': ';
      }
    }
    .t-product__option-variants {
      flex: 1;
    }
    .t-descr {
      font-size: 18px;
    }
  }
  // Adjust mobile font sizes
  .MobileTitle {
    > div {
      margin: 0 20px;
    }
    margin-bottom: 40px;
    display: none;
  }
  @media (width <= $smallTreshold) {
    // Diplay top title instead of inner one
    .MobileTitle {
      display: block;
    }
    .t-store__prod-popup__col-right .t-store__prod-popup__title-wrapper {
      display: none;
    }
    .js-store-prod-name {
      font-size: 6vw;
    }
    .t-store__prod-popup__info {
      padding-top: 10px;
    }
    .js-product-controls-wrapper .t-descr,
    .t-store__prod-popup__sku,
    .t-store__tabs__button .t-name,
    .Buttons .t-btn,
    .js-store-prod-all-text,
    .js-store-prod-all-charcs,
    .t-store__tabs__content {
      font-size: 4vw;
    }
    .t-store__prod-popup__col-left,
    .t-store__prod-popup__col-right {
      .t-store__tabs__item-title {
        font-size: 4vw;
      }
    }
    .Buttons {
      padding: 0;
      .t142A__wraptwo {
        flex-direction: column;
      }
      .t-btn {
        flex: 1;
        padding: 15px;
      }
      &.Badges .t-btn {
        padding: 5px 15px;
      }
    }
    @media (width <= 560px) {
      .t-store__prod-popup__col-left .t-store__tabs__item {
        margin: 0 20px;
      }
    }
  }
}
